.container {
    display: block;
    align-items: flex-start; 
}

.subtitle {
    /* background-color: blue; */
    /* margin: auto;
    justify-content: left; */
    font-weight: bold;
    margin-top: 1%;
    width: 60%; 
    text-align: left; 
    padding: 1%;
    transition: transform 0.2s ease;
}

.subtitle a {
    font-family: "Acorn";
    color: #578b83;
    transition: transform 0.2s ease;
}

.subtitle a:hover {
    color: var(--text-color);
    transform: scale(1.05);
}

.description-container {
    /* background-color: red; */
    display: block;
    margin: auto;
    /* margin-top: 25%; */
    width: 90%; 
    padding-left: 16%;
}

.description {
    font-weight: semi-bold;
    color: #4C6662;
    margin-bottom: 2%;
    text-align: left;
    width: 70%;
}