main {
    padding: 0 1rem; 
}

p {
    line-height: 23px;
    margin-top: .25rem;
}

h2, h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1.8rem;
    text-align: center;
}

h2 a {
    color: var(--text-hover);
}

h2 a:hover {
    color: var(--text-color);
}

@media screen and (min-width: 650px) {
    main {
        padding: 0 2rem;
    }

    p {
        line-height: 30px;
        margin-top: .5rem;
    }

    h2, h3 {
        font-size: 2rem;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    p {
        line-height: 35px;
        margin-top: .75rem;
    }

    h2, h3 {
        font-size: 2.5rem;
        margin-top: 2.5rem;
    }
}