#link-box2 {
    background-color: #AEC5A5;
    border-radius: 35px;
    height: 50px;
    padding: 10px 30px;
    width: 300px; 
}

.website {
    color: var(--project-text-color);
    font-family: var(--acorn-font);
    text-align: center;
}

.link-boxes {
    /* animation: fadeInUp 0.5s forwards; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center;
    margin-top: 30px;
    /* opacity: 0; 
    transform: translateY(-50px);
    transition:
        transform 0.5s ease,
        opacity 0.3s ease; */
  }
  
.link-box {
    border-radius: 35px;
    padding: 20px 30px;
    width: 300px; 
}

.box-title {
    color: var(--project-text-color);
    font-family: var(--acorn-font);
    font-size: 2.1875rem;
    text-align: left;
}

h1 a {
    font-family: var(--acorn-font);
}

.description li {
    color: var(--project-text-color);
    font-size: 1.125rem;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.description a {
    color: var(--project-text-color);
    font-size: 1.125rem;
    font-weight: bold;
}

.website a {
    color: var(--project-text-color);
    font-family: var(--acorn-font);
    font-size: 1.25rem;
}

.login-image img {
    border-radius: 5px;
    display: block;
    margin: var(--rhythm) auto;
}

.description a:hover {
    color: #e7d2bc;
}

.description ul {
    padding-left: 0;

    li {
        /* animation: fadeInUp 0.8s forwards; */
        color: var(--project-text-color);
        line-height: 1.6;
        margin-bottom: 20px;
        margin-top: 20px;
        /* opacity: 0;
        transition:
          transform 0.3s ease,
          opacity 0.3s ease;   
        transform: translateY(-20px); */
    }
}

.website a:hover {
    color: #578b83;
}

.description ul li strong {
    color: var(--project-text-color);
}

.link-box:first-of-type {
    background-color: #f3a1ad;
}

.link-box:nth-of-type(2) {
    background-color: #a3dcd5;
}

.link-box:nth-of-type(3) {
    background-color: #C78476;
}


@media screen and (min-width: 650px) {
    li {
      font-size: 1.125rem;
    }
}

@media screen and (min-width: 750px) {
    .link-box:first-of-type {
        height: 550px;
    }
}
@media screen and (min-width: 1140px) {
    .link-box:nth-of-type(2) {
        width: 35%;
    }
}

@media screen and (min-width: 1280px) {
    li {
      font-size: 1.5rem;
    }
}

@media screen and (min-width: 1293px) {
    .link-box:nth-of-type(3) {
        height: 350px;
    }
}