.box-title {
    color: var(--project-text-color);
    font-family: var(--acorn-font);
    font-size: 2.1875rem;
    text-align: left;
}

.description {
    padding-left: 0;
}

.link-box {
    border-radius: 35px;
    padding: 20px 30px;
    width: 300px; 
}

.link-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center;
    margin-top: 30px;
}

.login-image img {
    border-radius: 5px;
    display: block;
    margin: var(--rhythm) auto;
}

.login-image {
    display: flex;
    justify-content: center;
}

.website {
    color: var(--project-text-color);
    font-family: var(--acorn-font);
    padding-top: 1rem;
    text-align: center;
}

#link-box2 {
    background-color: #AEC5A5;
    border-radius: 35px;
    height: 50px;
    padding: 10px 30px;
    width: 300px; 
}

.description a {
    color: var(--project-text-color);
    font-size: 1.125rem;
    font-weight: bold;
}

.description a:hover {
    color: #e7d2bc;
}

.description li {
    color: var(--project-text-color);
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}

.description ul li {
    color: var(--project-text-color);
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 20px;
}

.description ul li strong {
    color: var(--project-text-color);
}

h1 a {
    font-family: var(--acorn-font);
}

.link-box:first-of-type {
    background-color: #f3a1ad;
}

.link-box:nth-of-type(2) {
    background-color: #a3dcd5;
}

.link-box:nth-of-type(3) {
    background-color: #C78476;
}

.website a {
    color: var(--project-text-color);
    font-family: var(--acorn-font);
    font-size: 1.25rem;
}

.website a:hover {
    color: #578b83;
}

@media screen and (min-width: 650px) {
    li {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 750px) {
    .link-box:first-of-type {
        height: 600px;
    }
}

@media screen and (min-width: 1140px) {
    .link-box:nth-of-type(2) {
        width: 35%;
    }
}

@media screen and (min-width: 1280px) {
    li {
        font-size: 1.5rem;
    }
    .link-box:first-of-type {
        height: 600px;
    }
}

@media screen and (min-width: 1293px) {
    .link-box:nth-of-type(3) {
        height: 380px;
    }
}

