/* Humble Bundle Specific Styles */

.link-box:nth-of-type(3) img {
    max-height: 200px;
    object-fit: contain;
    width: auto;
}

/* Media Queries */
@media screen and (min-width: 750px) {
    .link-box:first-of-type {
        height: 1380px;
    }
    .link-box:nth-of-type(2) {
        height: 1100px;
    }
    .link-box:nth-of-type(3) {
        height: 1040px;
    }
}

@media screen and (min-width: 1293px) {
    .link-box:first-of-type {
        height: 1250px;
        width: 25%;
    }
    .link-box:nth-of-type(2) {
        height: 770px;
    }
    .link-box:nth-of-type(3) {
        height: 1040px;
    }
}

@media screen and (min-width: 1350px) {
    .link-box:first-of-type {
        height: 1050px;
    }
    /* .link-box:nth-of-type(2) {
        height: 770px;
    }
    .link-box:nth-of-type(3) {
        height: 1040px;
    } */
}