
.photos {
    display: flex;
    gap: .5rem; 
    padding: 0 .5rem;
  }
  
.column {
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
  }

  .photo-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

/* for cover photos in photos.html */
.photo-categories a img {
    transition: transform 0.2s ease;
}

.photo-categories a img:hover {
    transform: scale(1.05);
}

/* TODO: add title to cover photos */


