/* Base Elements */
p {
    padding: 0 12rem;
}

/* Classes */
.container {
    margin: 0 auto;
    max-width: 1540px;
}

.link-box:hover {
    transform: scale(1.05);
}

.link-box:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    padding-bottom: 0;
}

.link-box:first-of-type .above-text {
    font-size: 1.1rem;
    text-align: left;
}

.link-box:first-of-type img {
    border-radius: 15px 15px 0 0;
    display: block;
    margin-left: 10px;
    width: 85%;
}

.link-box:first-of-type picture {
    display: block;
    line-height: 0;
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 1.5rem;
}

.link-box:nth-of-type(2) img, .link-box:nth-of-type(3) img, .link-box:nth-of-type(4) img {
    border-radius: 15px 15px 0 0;
    display: block;
    margin-left: 0.8125rem;
    margin-top: 2rem;
} 

@media screen and (min-width: 690px) {
    .above-text {
        font-size: 1.3rem;
    }

    .box-title {
        font-size: 2.25rem;
    }

    .link-box {
        padding-left: 40px;
        padding-top: 25px;
        width: 300px;
    }

    .link-box:first-of-type {
        width: 18.75rem;
    }

    .link-box:nth-of-type(2) {
        width: 350px;
    }

    .link-box:nth-of-type(3) {
        width: 500px;
    }

    .link-box:nth-of-type(4) {
        width: 550px;
    }

    .link-box:nth-of-type(2) img, .link-box:nth-of-type(3) img, .link-box:nth-of-type(4) img {
        margin-top: 3rem; 
    }

    .link-box:nth-of-type(2) img{
        margin-left: 2rem;
    } 

    .link-box:nth-of-type(3) img{
        margin-left: 4.5rem;
    } 

    .link-box:nth-of-type(4) img {
        margin-left: 4rem;
    }
}

@media screen and (min-width: 760px) {


    .link-box:nth-of-type(2) img {
        margin-left: 0;
    }

    .link-box:nth-of-type(3) img {
        margin-left: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .above-text {
        font-size: 1.35rem;
    }
    
    .box-title {
        font-size: 2.5rem;
    }

    .link-box {
        padding-top: 35px;
    }
    
    .link-box:first-of-type {
        width: 350px;
    }

    .link-box:nth-of-type(2) {
        width: 500px;
    }

    .link-box:nth-of-type(3) {
        width: 700px;
    }

    .link-box:nth-of-type(4) {
        width: 800px;
    }



    .link-box:nth-of-type(2) img {
        margin-left: .5rem; 
        margin-top: 2rem; 
    }

    .link-box:nth-of-type(3) img {
        margin-left: 6rem; 
    }

    .link-box:nth-of-type(4) img {
        margin-left: 6rem; 
    }
}

@media screen and (min-width: 1280px) {
    .link-boxes {
        gap: 60px;
    }

    .link-box:first-of-type {
        width: 450px;
    }

    .link-box:nth-of-type(2) {
        width: 700px;
    }

    .link-box:nth-of-type(3) {
        width: 800px;
    }

    .link-box:nth-of-type(4) {
        width: 950px;
    }



    .link-box:first-of-type img {
        margin-left: 15px;
    }

    .link-box:nth-of-type(2) img {
        margin-left: 2rem; 
    }

    .link-box:nth-of-type(3) img {
        margin-left: 5.5rem; 
    }

    .link-box:nth-of-type(4) img {
        margin-left: 10rem; 
    }
} 

@media screen and (min-width: 1540px) {
    .link-boxes {
        max-width: 1540px;
    }
}

