p {
  padding: 0 12rem;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
}

.link-box:hover {
  transform: scale(1.05);
}

.link-box:first-of-type img {
  margin-top: 20px; 
  margin-left: 40px;
}

.link-box:nth-of-type(2) img, .link-box:nth-of-type(3) img, .link-box:nth-of-type(4) img {
  border-radius: 15px 15px 0 0;
  margin-top: 2rem; 
  margin-left: 0.8125rem;
} 

@media screen and (min-width: 690px) {
  .above-text {
    font-size: 1.3rem;
  }

  .box-title {
    font-size: 2.25rem;
  }

  .link-box {
    padding-top: 25px;
    padding-left: 40px;
    width: 300px;
  }

  .link-box:first-of-type {
    width: 18.75rem;
  }

  .link-box:nth-of-type(2) {
    width: 350px;
  }

  .link-box:nth-of-type(3) {
    width: 500px;
  }

  .link-box:nth-of-type(4) {
    width: 550px;
  }

  .link-box:first-of-type img, .link-box:nth-of-type(2) img, .link-box:nth-of-type(3) img, .link-box:nth-of-type(4) img {
    margin-top: 3rem; 
  }

  .link-box:nth-of-type(2) img, .link-box:nth-of-type(3) img {
    margin-left: 2rem;
  } 

  .link-box:nth-of-type(4) img {
    margin-left: 4rem;
  }
}

@media screen and (min-width: 760px) {
  .link-box:first-of-type img {
    margin-left: .8rem;
    margin-top: 55px;
  }

  .link-box:nth-of-type(2) img {
    margin-left: 0;
  }

  .link-box:nth-of-type(3) img {
    margin-left: 3rem;
  }
}


@media screen and (min-width: 1024px) {
  .above-text {
    font-size: 1.35rem;
  }
  
  .box-title {
    font-size: 2.5rem;
  }

  .link-box {
    padding-top: 35px;
  }
  
  .link-box:first-of-type {
    width: 350px;

    img {
      margin-left: 2rem;
      margin-top: 2rem; 
    }
  }

  .link-box:nth-of-type(2) {
    width: 500px;

    img {
      margin-left: .5rem; 
      margin-top: 2rem; 
    }
  }

  .link-box:nth-of-type(3) {
    width: 700px;
  }

  .link-box:nth-of-type(4) {
    width: 800px;

    img {
      margin-left: 6rem; 
    }
  }
}

@media screen and (min-width: 1280px) {
  .link-boxes {
    gap: 60px;
  }

  .link-box:first-of-type {
    width: 450px;

    img {
      margin-left: 3rem;
    }
  }

  .link-box:nth-of-type(2) {
    width: 700px;

    img {
      margin-left: 2rem; 
    }
  }

  .link-box:nth-of-type(3) {
    width: 800px;

    img {
      margin-left: 5.5rem; 
    }
  }

  .link-box:nth-of-type(4) {
    width: 950px;

    img {
      margin-left: 10rem; 
    }
  }
} 

@media screen and (min-width: 1540px) {
  .link-boxes {
    max-width: 1540px;
  }
}