h2, h3, h4, h5, h6 {
    font-family: var(--acorn-font);
    font-weight: bold;
    font-size: var(--rhythm);
    margin-bottom: 0;
    margin-top: var(--rhythm);
    padding-left: 0.9375rem;
}

p {
    padding: 0 0.9375rem;
}

.parent ul {
    margin-top: .5rem;
    padding-left: var(--rhythm * 1.35);
    padding-right: var(--rhythm);
}

.parent li {
    color: var(--lighter-text-color);
    font-weight: 500;
    margin-bottom: .35rem;
}

h2 + ul {
    padding-left: 0;
    margin: 0;

    li {
    font-weight: bold;
    margin-top: .35rem;
    padding-left: 1rem;
    }
}

p + ul {
    li {
        margin: 1rem 0;
        line-height: 1.5rem;
    }
}

.section {
    font-size: 2rem;
    padding: 0;
    text-align: center;
}

.position, .place {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    margin: .25rem 0;
    text-align: left;
}

.position {
    margin: 2rem 0 0 0;
}

.time {
    font-style: italic;
    margin: .25rem 0;
    text-align: left;
}

@media screen and (min-width: 830px) {
    .parent {
        display: flex;
        gap: 5rem;
    }
}