h2 {
    padding-top: 2.5rem;
}

h2, h3, h4, h5, h6 {
    font-family: var(--acorn-font);
    font-weight: bold;
    font-size: var(--rhythm);
    margin-bottom: 0;
    margin-top: var(--rhythm);
    padding-left: 0.9375rem;
}

p {
    padding: 0 0.9375rem;
}

.section {
    font-size: 2rem;
    padding: 2rem 0 0 0;
    text-align: center;
}

.position, .place {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    margin: .25rem 0;
    text-align: left;
}

.position {
    margin: 2rem 0 0 0;
}

.time {
    font-style: italic;
    margin: .25rem 0;
    text-align: left;
}

.parent {
    margin: 0 auto;
}

h2 + ul {
    padding-left: 0;
    margin: 0;

    li {
    font-weight: bold;
    margin-top: .35rem;
    padding-left: 1rem;
    }
}

p + ul {
    li {
        margin: 1rem 0;
        line-height: 1.5rem;
    }
}

.parent ul {
    margin-top: .5rem;
    padding-left: var(--rhythm * 1.35);
    padding-right: var(--rhythm);
}

.parent li {
    color: var(--lighter-text-color);
    font-weight: 500;
    margin-bottom: .35rem;
}

.section:nth-of-type(2) {
    padding: 3.5rem 0 0 0;
}

@media screen and (min-width: 650px) {
    p {
      font-size: .9rem;
    }
}

@media screen and (min-width: 830px) {
    .parent {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 35% 65%;
        justify-items: center;
    }

    h2, h3, h4, h5, h6 {
        margin-top: 2.75rem;
    }
}

@media screen and (min-width: 1280px) {
    h2 {
        padding-top: 3rem;
    }
    
    h2, h3, h4, h5, h6 {
        font-size: 1.75rem;
        margin-top: 3rem;
    }

    .section {
        font-size: 2.5rem;
    }
    
    .section:nth-of-type(2) {
        padding: 4.5rem 0 0 0;
    }

    .position, .place, .time {
        font-size: 1.25rem;
    }

    .parent li {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    .experience li {
        line-height: 1.875rem;
    }
}

@media screen and (min-width: 1550px) {
    .parent {
        max-width: 1550px;
    }
}