:root {
    --text-hover: #578b83;
  }
  
  .dark-mode {
    --text-hover: #283735;
  }
  
  h1 i {
    font-size: 70px;
    padding-left: 15px;
    transition: transform 0.2s ease;
}

h1 i:hover {
    color: var(--text-hover);
    transform: scale(1.15);
}

.resume {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}