@font-face {
  font-family: Acorn;
  src: url(../fonts/acorn-medium.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat.ttf);
}
:root {
  --background-color: #fdf5f59c;
  --text-color: #105a4e;
  --nav-background-hover: rgba(16, 90, 78, .3);
  --nav-text-hover: white;
  --logo-hover: #578b83;
  --primary-color: #c6926e;
  --secondary-color: #765742; 
  --background-image: url(../images/background.jpeg); 
}

.dark-mode {
  --background-color: #3a3939b4;
  --text-color: red;
  --slider-color: #516e6a;
  --primary-color: #093384;
  --secondary-color: #000056; 
  /* --background-image: url("../picture/night.jpg"); */
}

/* Ensure box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Montserrat";
  color: var(--text-color);
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* body style affects whole page */
body {
  background-image: var(--background-image);
  height: 100vh;
  width: 100vw;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
  background-size: cover;
  margin: 0;
}

.home {
  font-family: "Acorn";
  width: 18%;
  font-size: 24px;
  font-weight: bold;
}

.home:hover {
  color: var(--logo-hover);
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.2s forwards;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-center li {
  margin: 0 10px; /* Adjust spacing as needed */
}

.nav-bar ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li a {
  display: block;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-bar ul li a:hover {
  background: var(--nav-background-hover);
  color: var(--nav-text-hover);
}

.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-right li {
  margin-left: 30px;
}

/* header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px 100px; 
}

.home {
  font-family: "Acorn";
  font-size: 24px;
  font-weight: bold;
  margin: 0; 
  background-color: transparent;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  width: 100%;
  margin: 10px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.2s forwards;
}


.nav-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar ul:first-of-type {
  margin-right: auto; 
}

.nav-bar ul:last-of-type {
  margin-left: auto; 
}

.nav-bar ul li {
  margin: 0 10px; 
  background: transparent;
}

.nav-bar ul li a {
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.nav-bar ul li a:hover {
  background: rgba(16, 90, 78, .3);
  color: white;
} */


h1 {
  font-family: Acorn;
  text-align: center;
  font-size: 110px;
  margin-top: 30px;
  background: transparent;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  text-align: center;
  font-size: 20px;  
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;   
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.8s forwards;
}

.description a {
  font-weight: bold;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.description a:hover {
  color: #578b83; 
}

/* Style for the link-boxes container */
.link-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 100px; 
  justify-content: center;
  margin-top: 70px;
}

/* Style for individual link-boxes */
.link-box {
  display: block;
  height: 350px;
  text-align: center;
  color: white;
  background-color: aqua;
  padding: 50px;
  text-decoration: none;
  border-radius: 35px;
  transition: transform 0.2s ease;
}

.link-box:first-of-type {
  width: 400px; 
}

.link-box:nth-of-type(2) {
  width: 550px; /* Width for the second box */
}

.link-box:nth-of-type(3) {
  width: 65%; /* Full width for the third box */
  margin-top: 10px; /* Space above the third box */
}

.link-box:hover {
  transform: scale(1.05);
}

.contact {
  font-size: 40px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  transition: 0.3s ease;
  background: transparent;
}

.links a {
  color: #333;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.links a:hover {
  color: #000;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a8b6b4;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: ""; 
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  left: -6px;
  bottom: -8px;  
  background-image: url("../images/sun.png"); /* Default to sun image */
}

input:checked + .slider {
  background-color: var(--slider-color);
}

input:checked + .slider:before {
  background-image: url("../images/moon.png"); /* Change to moon image for dark mode */
  height: 60px;
  width: 60px;
  bottom: -12px;
  transform: translateX(20px);
}