@font-face {
    font-family: Acorn;
    src: url(../fonts/acorn-medium.ttf);
}
  
@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat.ttf);
}
  
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
:root {
    --text-color: #105a4e;
    --text-hover: #578b83;
    --lighter-text-color: rgb(16, 90, 78, .8);

    --nav-background-hover: rgba(16, 90, 78, .3);
    /* --nav-text-hover: white; */

    --menu-text-color: #e7d2cb;
    --menu-background-color: rgb(16, 90, 78);

    --project-text-color: #354542;

    --background-image: url(../images/light-mode.JPEG); 
    --acorn-font: 'Acorn', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;

    --rhythm: 1.5rem;
    --nav-height: 48px;
}
  
/* .dark-mode {
    --text-color: #e7d2cb;
    --nav-background-hover: rgba(231, 210, 203, 0.3);
    --nav-text-hover: #105a4e;
    --text-hover: #283735;
    --slider-color: #283735;
    --background-image: url(../images/dark-mode.JPEG); 
} */

* {
    color: var(--text-color);
    font-family: var(--montserrat-font);
    list-style: none;
    text-decoration: none;
}

body {
  background-attachment: fixed; 
  background-image: var(--background-image);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  box-sizing: border-box;
}

header {
    background: var(--nav-background-hover);
    height: var(--nav-height);
    width: 100%;
  
    position: fixed;
    left: 0;
    top: 0;
  
    label {
      cursor: pointer;
      height: 20px;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 26px;
      z-index: 1001;
  
      span {
        background-color: var(--text-color);
        border-radius: 2px;
        color: var(--menu-text-color);
        display: block;
        height: 3px;
        position: absolute;
        width: 100%;
  
        transform-origin: left;
  
        &:nth-child(1) {
          top: 0;
        }
  
        &:nth-child(2) {
          top: 8px;
        }
  
        &:nth-child(3) {
          top: 16px;
        }
      }
    }
  }
  
  nav {
    background: var(--menu-background-color);
    height: 100vh;
    margin-block-start: var(--nav-height);
    width: 300px;
  
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1000;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        padding: 0;
  
        a {
        background: var(--menu-background-color);
          color: var(--menu-text-color);
          display: block;
          font-family: var(--acorn-font);
          font-size: 1.25rem;
          padding-block: 1rem;
          padding-inline: 1rem;
          text-decoration: none;
  
          &:hover {
            background-color: var(--menu-text-color);
            color: var(--menu-background-color);
          }
        }
      }
    }
  }
  

h1 {
    font-family: var(--acorn-font);
    font-size: 2.8125rem;
    margin: 0;
    padding-top: 60px;
    text-align: center;
}

p {
    color: var(--lighter-text-color);
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
}

footer {
    text-align: center;
}

footer h1 {
    margin: 0;
}

p a {
    font-weight: bold;
}

p a:hover {
    color: var(--text-hover);
}

footer h1 {
    padding-top: 30px;
}

footer a i {
    font-size: 1.5625rem;
    margin-top: 8px;
    padding-bottom: 40px;
    transition: transform 0.2s ease;
}

footer a i:hover {
    color: var(--text-hover);
    transform: scale(1.45);
}

.link-boxes {
  /* animation: fadeInUp 0.5s forwards; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  justify-content: center;
  margin-top: 30px;
  /* opacity: 0; 
  transform: translateY(-50px);
  transition:
      transform 0.5s ease,
      opacity 0.3s ease; */
}

.link-box {
  border-radius: 35px;
  padding-top: 20px;
  padding-left: 30px;
  transition: transform 0.2s ease;
  width: 300px; 
}

.link-box:hover {
  transform: scale(1.05);
}

.above-text {
  color: var(--project-text-color);
  font-size: 1.125rem;
  margin: 0;
}

.box-title {
  color: var(--project-text-color);
  font-family: var(--acorn-font);
  font-size: 1.875rem;
  text-align: left;
}

.link-box:first-of-type {
  background-color: #f3a1ad;
}

.link-box:nth-of-type(2) {
  background-color: #a3dcd5;
}

.link-box:first-of-type img {
  margin-top: 20px; 
  margin-left: 30px;
}

.link-box:nth-of-type(2) img, .link-box:nth-of-type(3) img, .link-box:nth-of-type(4) img {
  border-radius: 15px 15px 0px 0px;
  margin-top: 1.25rem; 
  margin-left: 0.8125rem;
} 

.link-box:nth-of-type(3) { 
  background-color: #C78476;
}

.link-box:nth-of-type(4) { 
  background-color: #F0C159;
}

  /* Show nav when checkbox is checked */
  .nav-toggle:checked ~ nav {
    right: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px; /* Fix */
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg);
  }